<!DOCTYPE html>
<html>
  <head>
    <title>RubyPhotofeeds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>


    <script>
      var pusher = new Pusher('PUSHER_APP_KEY', {
        cluster: 'eu',
        encrypted: true
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
